body{
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}
h2{
    text-align: center;
    color: red;
    font-size: 10rem;
    text-shadow: 3px 3px 4px white;
}